<p id="notice"><%= notice %></p>

<div id="cart"></div>

    <%= form_for(@cart_item) do |f| %>
        <%= f.collection_select(:item_id,Item.all,:id,:name) %>
    <%= f.hidden_field(:cart_id) %>
    <%= f.submit %>
    <% end %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
<%= javascript_include_tag 'item','cart','cart_controller' %>
