<p id="notice"><%= notice %></p>

<p>
  <strong>User email:</strong>
  <span id="email"></span>
</p>

  <strong>Items</strong>
<ul id="items">

    </ul>

    <%= form_for(@cart_item) do |f| %>
        <%= f.collection_select(:item_id,Item.all,:id,:name) %>
    <%= f.hidden_field(:cart_id) %>
    <%= f.submit %>
    <% end %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>

<script>
/*
 1) Grab cart data
 2) Extract out user_email, put name in user_email
 3) Extract our items, for each item put in unordered list

 */

function renderCart(data){
  $("#email").html(data.user_email)
  let list = $("#items")
  list.empty()
  data.items.forEach(function(item) {
    list.append(`<li>${item.name} - ${item.price}</li>`)
  })
}

$.get("/carts/1.json",function(data) {
  renderCart(data)
})
/*
$.get("/carts/1.json",renderCart)
*/

$("#new_cart_item").on("submit",function(event){
  event.preventDefault()

  $.post("/cart_items.json",$(this).serialize(),function(data){
    renderCart(data)
  })
  /*
  $.post("/cart_items.json",$(this).serialize(),renderCart)
  */
})


 </script>
